* {
	margin: 0;
	box-sizing: border-box;
}
footer {
	grid-column: 1/ span 3;
    grid-row: 1 / span 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
	display: grid;
	flex-wrap: wrap;
    background-color: #D9D9D9;
    justify-content: space-around;
	
}
.öppettider {

	align-self:center;
   align-items: center;
}

.Kontakta-oss{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer hr {
	width: 20em;
	margin-top: 1em;
	height: 0.1em;
	background-color: black;
	flex-wrap:wrap;
    
}



img{ 
	border: 1px solid #ddd;
	/*border-radius: ; */
	width: 50px;
	flex-wrap:wrap;
    

}

.icons-container > div{
    
    justify-content: center;
    margin-top: 2em;
}

.icons-container {
    display: flex;
    flex-direction:column;
	/* justify-content: space-around; */
  
}
.icons {
	display: flex;
    margin-bottom: 2em;
	justify-content: space-between;
	flex-wrap: wrap;
}

.icons > img{
	margin: 0.5em;
}



@media all and (max-width:660) {
    .icons-container {
      
	  flex-wrap: wrap-reverse;
		justify-content: flex-end;
		
    }

   
}

