
/* font-family: 'Urbanist', sans-serif; */

body{margin:0%; padding:0%; box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

.gray-rectangle{
    display:flex;
    justify-content: center;
    background-color: #D5D8D0;
    padding:0.2em;
}

.canon-pic{
/* max-width: 100%; */
width:500px;
height:auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.text-container{ 
    width:30em;
    /* border:2px solid pink; */
    margin-left:1em;
    margin-top:-3em;
    
}
 
 h1{
    display: flex;
    justify-content:center;
   
}
pre{ 
    padding:2em; 
    margin:em;
    /* text-indent: 20px; */
} 

hr{
    width:20em;
}