* {
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 4fr 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

header {
	grid-area: header;
}

.inner-grid {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 3fr 1.5fr;
	grid-template-areas:
		"homepage-heading"
		"hero-container"
		"instructions";
	row-gap: 3em;
	max-height: 65em;
	/* width: 100vw; */
	padding: 2em 0;

}

.hero-container {
	grid-area: hero-container;
	position: relative;

}

.hero-container>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.homepage-heading {
	/* background-color: #fedef1; */
	padding: 1em 1em;
	text-align: center;
	align-self: center;
	justify-self: center;
	max-width: 800em;
	grid-area: homepage-heading;
	display: flex;
	flex-direction: column;
	border-radius: 2em;
}


.homepage-heading>h1 {
	font-size: 1.5em;
}

.instructions {
	justify-self: center;
	display: flex;
	flex-direction: column;
	grid-area: instructions;
	position: relative;
	/* min-width: 32em; */
	max-width: 70em;
	padding-left: 1em;
}

.instructions>h2 {
	font-size: 1.4em;
	margin: 0.5em;
}

.instructions>p {
	font-size: 1.3em;
	margin: 0.5em;
}

p>img {
	margin-right: 1em;
}

.instructions>img {
	height: 8em;
	width: 8em;
	position: absolute;
	right: 0em;
	bottom: 0em;
	/*
	transform: translate(-10%); */
	/* justify-self: center;
	align-self: end; */
}

.button-inside {
	grid-row: 3;
	position: absolute;
	bottom: 5em;
	left: 50%;
	transform: translate(-50%);
}

.button-inside,
.button-outside {
	background-image: linear-gradient(to left, #7230FF 0%, #F95CBA 100%);
	opacity: 0.8;
	border-style: none;
	border-radius: 3em;
	font-size: 1em;
	color: white;
	height: 2.5em;
	width: 10em;
	transition: 0.5s;
	box-shadow: 0 0 20px #838282;
}

.button-outside {
	visibility: hidden;
}

footer {
	grid-area: footer;
}

@media screen and (min-width:1000px) and (max-width:1200px) {

	.inner-grid {
		grid-template-columns: 0.5fr minmax(0, 40em) minmax(0, 40em) 0.5fr;
		grid-template-rows: 1fr 1.5fr 0.5fr;
		grid-template-areas:
			". hero-container homepage-heading ."
			". hero-container instructions ."
			". hero-container button .";
		gap: 3em;
	}

	.homepage-heading {
		background-color: #fedef1;
		padding: 3em 1em;
		min-width: 30em;
		max-width: 70em;
	}

	.hero-container>img {
		border-radius: 2em;
	}

	.homepage-heading>h1 {
		font-size: 1.6em;
	}

	.instructions>h2 {
		font-size: 1.3em;
		justify-self: flex-end;
	}

	.instructions>p {
		font-size: 1.2em;
		margin: 0.5em;
		justify-self: flex-end;
	}

	.instructions>img {
		height: 10em;
		width: 10em;
		right: 0em;
		bottom: 0em;
	}

	.button-inside {
		visibility: hidden;
	}

	.button-outside {
		visibility: unset;
		font-size: 1.3em;
		height: 2.8em;
		width: 13em;
		grid-area: button;
		justify-self: center;
		align-self: flex-end;
		position: static;
		transform: unset;
	}

}




@media screen and (min-width:1201px) {

	.outer-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 5fr 1fr;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}

	.inner-grid {

		grid-template-columns: 1fr minmax(0, 65em) minmax(25em, 30em) 1fr;
		grid-template-rows: 1fr 1.5fr 0.5fr;
		grid-template-areas:
			". hero-container homepage-heading ."
			". hero-container instructions ."
			". hero-container button .";
		gap: 3em;


	}

	.hero-container>img {
		border-radius: 2em;

	}

	.homepage-heading {
		background-color: #fedef1;
		padding: 3em 1em;
		text-align: center;
		/* height: 10em; */
		grid-area: homepage-heading;
		display: flex;
		flex-direction: column;
		min-width: 31em;
		max-width: 70em;
	}

	.homepage-heading>h1 {
		font-size: 1.7em;
	}


	.instructions>h2 {
		font-size: 1.4em;
		justify-self: flex-end;
	}

	.instructions>img {
		height: 12em;
		width: 12em;
		left: 20em;
		top: 7em;
	}

	.button-inside {
		visibility: hidden;
	}

	.button-outside {
		visibility: unset;
		font-size: 1.5em;
		height: 3em;
		width: 15em;
		grid-area: button;
		justify-self: center;
		align-self: flex-end;
		position: static;
		transform: unset;
	}

	button:hover {
		background-position: right center;
		background-image: linear-gradient(to right, #7230FF 0%, #F95CBA 100%);
	}
}

/* Saker som jag vill fixa:
-stegen i instruktionerna är ej symmetriska.
-minska storleken på texten när skärmen är mindre än 500px*/