/* font-family: 'Urbanist', sans-serif; */


body{
  box-sizing: content-box; margin:0%; padding:0%;
}


.header{
  display:flex; 
  height:auto;
  border:2px solid;
  padding:2em;
  justify-content:space-between;
  font-family: 'Freehand', cursive;
  flex-wrap: wrap;
  }
  
  .outer{
    display:flex;
  /*   align-self:flex-end; */
  flex-wrap: wrap;
  }
  
  .flex-item{
    padding:1em;
    align-items:center;
    height:0.5em;
    display:flex;
    flex-direction:row;
    margin:0.2em;
    font-family: 'Urbanist', sans-serif;
    font-size: larger;
  }
  .header > img{
 
     height:4em;
      margin-left: 1em;
    
    }

  .outer > img{
    
       height:3em;
      margin-left: 2em;

    
    }
 









