
 .btn{
    display:block;
    position:absolute;
    /* left: 100px; */
    right: 5px;
    top:96px;
    
  }
 #btnControl{
    display: block;
    position:absolute;
    top:1em;
    right: 22px;
    border:5px solid green;
    cursor: pointer;
    z-index:1;
    
}


#btnControl:checked + label > img {
    width: 70px;
    height: 74px;
    display: none;

}

#btnLeft{

    width: 20em;
    border: 2px solid rgb(171, 169, 169);
}


  /* (kryssar) i checkboxen för hamburgar-menun */
 #hamburgare1{
    display: block;
    position:absolute;
    top:1em;
    left: 25px;
    cursor: pointer;
    z-index:2;
    display:none;
}



  /* storleken på liten bild (ikryssad checkbox)*/
#hamburgare1:checked + label > img {
    width: 70px;
    height: 7px;
    display: none;

}
/* Storleken på menu bilden */
#btnright{
    width: 20em;
    margin-top:0.1em;
}


@media (max-width:700px) {
    #btnControl{
        display: block;
        position:absolute;
        top: 2em;
        right: 22px;
        cursor: pointer;
        z-index:1;
        
    }
    /* stolek på checkboxen på hamburgaren */
    #hamburgare1{
        display: block;
        position:absolute;
        top:2em;
        left: 25px;
        cursor: pointer;
        z-index:1;
        
    }

}

