
body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px  4fr 150px;
    grid-template-areas:
        "header"
       
        "main"
        "footer ";
}



header {
    grid-area: header;
    background-color: aqua;
}

footer {
    grid-area: footer;
    background-color: aqua;
}

main{
   
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}


main > .photos{
    display: flex;
 
 flex-grow: 1;
 min-width: 150px;
 flex-direction: column;
 align-items: flex-end;
 justify-content: center;

}

.photos > img{
    max-width: 5em;
}
.container-photo > img{
    max-width: 20em;
}



.container-photo{
    display: flex;
    
    flex-grow: 1;
    min-width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
  
   }


.side-info{
    
    flex-direction: column;
    
    flex: 2;
    min-width: 300px;
    text-align: center;
   }

   .price{
    font-size: 22px;
    text-align: center;
    margin-top: 1em;
  
   }


   .colors{
 
    font-size: 20px;
   align-self: end;
    text-align: center;
    }


   span{
    height: 3em;
    width: 3em;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    justify-self: center;
   
}
 
 
.svart-cirkel{
    background-color: #0E0E10;
}
 
.vit-cirkel{
    background-color: #ECECEE;
}
 
.rosa-cirkel{
    background-color: #B38A8A;
}


.button-flex{

    display: flex;
    justify-content: center;
   
    
}
.button{
    
    text-align: center;
    width: 15em;
    height: 3em;
    border-radius: 5em;
    color: white;
    background: rgb(249,92,186);
    background: linear-gradient(90deg, rgba(249,92,186,0.6786064767703957) 0%, rgba(82,0,255,0.6758053563222164) 100%);
    margin-bottom: 2em;

 
   
   

    
}




@media (max-width:575px){



main > .photos{
    display: flex;
    flex-grow: 1;
 flex-direction: row;


}





}







 




 
