* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 4fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

main {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1.5fr 0.5fr;
    grid-template-areas:
        "container-1"
        "item-description"
        "button";
}

.container-1>form>* {
    border: 2px solid black;
    font-size: 20px;
    max-width: 17em;
}

.flex-betalnings-iconer>img {
    width: 5em;
    height: 3em;
    border: 1px solid black;
    margin-top: 3em;
}

.container-1,
.item-description {
    max-width: 30em;
    justify-self: center;
}

.container-1 {
    grid-area: container-1;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    text-align: center;
    margin-top: 1em;
    align-self: center;
}

.side-info {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.item-description {
    display: flex;
    flex-direction: column;
    grid-area: item-description;
    font-size: 22px;
    margin-top: 1em;
    margin-left: 1em;

}

.item-description img {
    width: 100px;
    height: 100px;
    margin-right: 1em;
}

.info-container {
    display: flex;
    font-size: 0.8em;
}

.p-container {
    display: flex;
}

.p-container>p {
    margin-right: 2em;
}

.price-1 {
    grid-area: price-1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    gap: 1em;
    font-size: 0.8em;
}

.info {
    grid-area: product-info;
    margin-left: 1em;
    text-align: center;
}

button>a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

button {
    grid-area: button;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 3em;
    background: linear-gradient(to left, #7230FF 0%, #F95CBA 100%);
    opacity: 0.8;
    border-style: none;
    border-radius: 3em;
    transition: background 1s ease-in;
    box-shadow: 0 0 20px #838282;
    font-family: 'inter', sans-serif;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    main {
        display: grid;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        grid-template-rows: 2fr 1.5fr 0.5fr;
        grid-template-areas:
            ". container-1 ."
            ". item-description ."
            ". button .";
    }


    .item-description>div>img {
        width: 100px;
        height: 100px;
    }

    .item-description {
        margin-top: 1em;
        margin-left: 0;
    }
}

@media screen and (min-width: 901px) {
    main {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
            ". . . ."
            ". container-1 item-description ."
            ". container-1 item-description ."
            ". container-1 button ."
            ". . . .";
        gap: 1em;
    }

    .item-description,
    .container-1 {
        min-width: 21em;
    }

    .item-description {
        align-self: flex-end;
        margin-top: 1em;
        margin-left: 0;
    }

    .item-description>img {
        width: 150px;
        height: 100px;
        margin-top: 1em;
    }

    .info-container {
        font-size: 1em;
    }

    .price-1 {
        font-size: 1em;
    }

    button:hover {
        transition: 0.5s;
        background-position: right center;
        background: linear-gradient(to left, #7230FF 100%, #F95CBA 0%);
    }
}