* {
    margin: 0;
    box-sizing: border-box;
   font-family: 'Urbanist', sans-serif;
}
 
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 4fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
 
header {
    grid-area: header;
   
}
 
footer {
    grid-area: footer;
   
}
 
main {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 0.5fr 1fr 1fr 1fr;
    grid-template-areas:
        "product-big"
        "price"
        "colors"
        "product-info"
        "button";
}
 
/* main {
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */
 
 
 


.container-photo > form > *{
    border: 2px solid black;
    font-size: 20px;
}

.flex-betalnings-iconer > img{
    width: 5em;
    height: 3em;
    border: 1px solid black;
    margin-top: 3em;
}
 
 
 
.container-photo {
    grid-area: product-big;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    min-width: 300px;
    text-align: center;
   
    
    
}
 
 
.side-info {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex: 1;
    min-width: 300px;
    text-align: center;
}
 
.price {
    display: flex;
    flex-direction: row;
    grid-area: price;
    font-size: 22px;
    
}
.price > img{
    width: 100px;
    height: 100px;
    max-width: 100px;
}
 
.colors {
    grid-area: colors;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
}
 
 
.info {
    grid-area: product-info;
    margin-left: 1em;
 text-align: center;
}


 
a {
    color: white;
    text-decoration: none;
}
 
 
.button {
    grid-area: button;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 3em;
   
    
    background-image: linear-gradient(to left, #7230FF 0%, #F95CBA 100%);
    opacity: 0.8;
    border-style: none;
    border-radius: 3em;
    transition: 0.5s;
    box-shadow: 0 0 20px #838282;
}

.button:hover {
    background-position: right center;
    background-image: linear-gradient(to right, #7230FF 0%, #F95CBA 100%);
}
 
.button>p {
    font-size: 1.2em;
}
 
@media screen and (min-width: 700px) and (max-width: 900px) {
    main {
        display: grid;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        grid-template-rows: 2fr 0.3fr 0.5fr 1fr 1fr;
        grid-template-areas:
            ". product-big ."
            ". price ."
            ". colors ."
            ". product-info ."
            ". button .";
    }
 

 
    /* .color-circles {
        flex-direction: column;
    } */

    .price > img{
        width: 150px;
        height: 100px;
    }
}
 
@media screen and (min-width: 901px) {
    main {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 1fr 0.5fr;
        grid-template-rows: 1fr 0.5fr 1fr 1fr;
        grid-template-areas:
            ". product-big price ."
            ". product-big colors ."
            ". product-big product-info ."
            ". product-big button .";
        gap: 1em;
    }
 
 
  
 
    .price {
        align-self: flex-end;
 
    }
    .price > img{
        width: 150px;
        height: 100px;
        margin-top: 1em;
    }
}

